.menu {
    display: flex;
    gap: 10px;
}

.opcao {
    display: flex;
    background-color: #ddd;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: blue;
    width: 250px;
    height: 30px;
    align-items: center;
}

.opcao:hover {
    background-color: #ddd;
    border: 1px solid #ccc
    box-shadow: 0 3px 1px .5px #bbb;
}